.logo img {
	display: block;
	margin: auto;
	height: 200px;
}

li {
	list-style: none;
}

.bottom li {
	width: 30%;
}

#search-form {
	text-align: center;
}

.title {
	text-align: center;
	margin: auto;
	display: block;
	font-size: 65px;
	font-family: 'Montserrat', sans-serif;
}

.college-name {
	padding: 10px;
	margin-right: 20px;
	font-size: 1em;
	border: 1px outset black;
	opacity: .55;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type=submit] {
	margin-left: 20px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 12px;
	padding-bottom: 12px;
	font-size: 1em;
	border: 1px outset black;
	background-color: transparent;
	opacity: .55;
}

.loc {
	text-align: center;
	margin: auto;
	display: block;
	font-size: 45px;
	font-family: 'Montserrat', sans-serif;
}

.bottom {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	font-size: 25px;
	margin: 0 auto;
	width: 35%;
}

.left {
	text-align: left;
	display: inline-block;
}

.right {
	text-align: right;
	display: inline-block;
}

.search {
	margin: auto 0;
	text-align: center;
}