<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="static/css/style.css" type="text/css">
{% block content %}
<div class="title">
	College Lookup
</div>
<br>
<br>
<div class="search">
	<form method='post' id='search_form' action="/">
		<input type='text' value='' name='search' class="college-name" placeholder="Enter a university">
		<input type='submit' value='Submit' method='post' class="submit">
	</form>
</div>
{% endblock %}